# Inputrc deals with the mapping of the keyboard for certain situations.
# This file is the start-up file used by readline, the input related library
# used by bash and most other shells.
# http://www.linuxfromscratch.org/blfs/view/5.1/postlfs/inputrc.html

# =================
# Tab Improvements
# =================

# Make Tab autocomplete regardless of filename case
bind 'set completion-ignore-case on'
# set completion-ignore-case on
# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
bind 'set match-hidden-files off'
# List all matches in case multiple possible completions are possible
# bind 'set show-all-if-ambiguous on'

bind 'TAB: menu-complete'
# Flip through autocompletion matches with Shift-Tab.
bind '"\e[Z": complete'

# Immediately add a trailing slash when autocompleting symlinks to directories
bind 'set mark-symlinked-directories on'

# Show extra file information when completing, like `ls -F` does
bind 'set visible-stats on'

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
bind 'set skip-completed-text on'

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
